/* styles.css */

/* For mobile phones: */

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size:28px;
	}

h2 {
	font-size:18px;
	}	
	
p {
	font-size:14px;
	color:black;
	text-align:justify;word-spacing:0.5px;}		
	
footer {
	clear: both;
	margin-top: 10px;
	background-color: #cccccc;
	text-align: center;
}

[class*="col-"] {
    width: 100%;
}

#banner h1 {
	text-align:center;
	}

#slide {
	max-height:670px;
	width:100%;}
/*-------------------------------------------------------------------------------------------- Login Page ------------------------------------------------------------------------ */

	
.login{ margin:4%;position: relative;left: 26%; align-content:center; padding:4%; border:1px solid #B39019;   

color:black; border-radius:4px; width: 40%;}
.login label {
    width: 5em;
    float: left;
     padding:0.2%;
    padding-right: 0.5em;
	
	
}

.button_login {
  display: inline-block;
  border-radius: 4px;
  background-color: #07D14A;
  border: none;
	position: relative;
	left: 14%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button_login:hover {
  display: inline-block;
  border-radius: 4px;
  background-color: #1C8F42;
  border: none;
	position: relative;
	left: 14%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button_login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_login:hover span {
  padding-right: 25px;
	
}

.button_login:hover span:after {
  opacity: 1;
  right: 0;
}
.signupnotice a {text-decoration: none;color: black;position: relative; left: 25%;}
.signupnotice a:hover {text-decoration: none;color: #B39019;position: relative; left: 25%;}


/*-------------------------------------------------------------------------------------------- Signup Page ------------------------------------------------------------------------ */


.member {margin:4%;position: relative;left: 22%; align-content:center; padding:4%; border:1px solid #B39019;   

color:black; border-radius:4px; width: 50%;}


.member label {
    width: 10em;
    float: left;
	padding:0.5%;
	
    padding-right: 0.5em;
	
}



.button_signup {
  display: inline-block;
  border-radius: 4px;
  background-color: #07D14A;
  border: none;
	position: relative;
	left: 10%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button_signup:hover {
  display: inline-block;
  border-radius: 4px;
  background-color: #1C8F42;
  border: none;
	position: relative;
	left: 10%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button_signup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_signup span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_signup:hover span {
  padding-right: 25px;
	
}

.button_signup:hover span:after {
  opacity: 1;
  right: 0;
}



/*-------------------------------------------------------------------------------------------- Memberdetails Page ------------------------------------------------------------------------ */

.member_details { margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.member_details label{
    width: 10em;
    float: left;
	padding:1%;
    padding-right: 0.5em;
	}
#member_details p { color:#8E8E8E;word-spacing:0.5px;}


/*-------------------------------------------------------------------------------------------- yourfeedback Page ------------------------------------------------------------------------ */

.enterfeedback { margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.enterfeedback label{
    width: 15em;
    float: left;
	padding:1%;
    padding-right: 0.5em;
	}
	label{font-size:18px;}
	#feedback{border-radius:8px;
	}
	input{	border-radius:8px; }
	#submit {padding:0.4%; margin:0.2%; }
	#reset {padding:0.4%; margin:0.2%; width:auto;}
/*-------------------------------------------------------------------------------------------- latestfeedback Page ------------------------------------------------------------------------ */

	
.latestfeedback {margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}

.latestfeedback p {background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); padding:2%; border-radius:12px; 
word-spacing:0.5px;
text-align:justify;
font-family:'Dancing Script', cursive; 

font-size:26px;

border-style:dashed; font-stretch:extra-expanded;} 


/*-------------------------------------------------------------------------------------------- editMember Page ---------------------------------------------------------------------------- */


.edit_member{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}

.member_table td{padding:2%;}


/*-------------------------------------------------------------------------------------------- Sucess Page :------------------------------------------------------------------------------- */
.sucess{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.sucess p{color:#8E8E8E; text-align:justify;word-spacing:0.5px;}


/*-------------------------------------------------------------------------------------------- member_process :---------------------------------------------------------------------------- */
.member_process{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.member_process p{color:#8E8E8E;text-align:justify;word-spacing:0.5px;}

/*-------------------------------------------------------------------------------------------- submit_button :---------------------------------------------------------------------------- */
submit{ background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}



/*-------------------------------------------------------------------------------------------- search_results :---------------------------------------------------------------------------- */
.search_results{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#F1E9E9; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
#search_table th{padding:3%; margin:5%;width:15em;font-size:24px;alignment-adjust:central;}
#search_table td{padding:3%; margin:5%; border:2px solid black; resize:both;}



/*-------------------------------------------------------------------------------------------- header :---------------------------------------------------------------------------- */
#banner{align-content:center; background-color:transparent; color:#F1E9E9; background: rgba(0, 0, 0, 0.6); border-radius:9px;widows:auto; background-image:url(../images/banner.png); background-size:cover;padding:4%; width:auto;}


#footer{ border-top: 5px solid black; align-content:center; background-color:transparent; color:#F1E9E9; background: rgba(0, 0, 0, 0.6); border-radius:9px;widows:auto; background-image:url(../images/banner.png); background-size:cover;padding:2%; margin-top:2%;



}




/*--------------------------------------------------------------------------------------------picture ---------------------------------------------------------------------------- */

.picture{margin:4%; margin-left:9%;align-content:center; padding:1%; border:5px solid black; background-color:transparent; background: rgba(0, 0, 0, 0.6); border-radius:9px;color:#F5F0F0;}
.picture p{color:white; align-content:flex-start;text-align:justify;word-spacing:0.5px;}

/*--------------------------------------------------------------------------------------------contact_us---------------------------------------------------------------------------- */
.contact_us{margin:4%; margin-left:9%;align-content:center; padding:1%; border:5px solid black; background-color:transparent; background: rgba(0, 0, 0, 0.6); border-radius:9px;color:#F5F0F0;}
/*--------------------------------------------------------------------------------------------about_us---------------------------------------------------------------------------- */


.about_us{margin:4%; margin-left:9%;align-content:center; padding:1%; border:5px solid black; background-color:transparent; background: rgba(0, 0, 0, 0.6); border-radius:9px;color:#F5F0F0;}
.about_us p {color:#B5B5B5; text-align:justify;word-spacing:0.5px; }


.feedbackqqw {margin:4%; margin-left:9%;align-content:center; padding:1%; border:5px solid black; background-color:transparent; background: rgba(0, 0, 0, 0.6); border-radius:9px;color:#F5F0F0;}

.feedbackqqw p{color:#EFEAEA; text-align:justify;word-spacing:0.5px;}




/* For tablets: */
@media only screen and (min-width:600px){
	
	
h1 {
	font-size:32px;
	}
h2 {
	font-size:24px;
	}	
p {
	font-size:16px;
	}		
	}
	
/* For desktop: */	
@media only screen and (min-width: 768px) {

h1 {
	font-size:42px;
	}
h2 {
	font-size:30px;
	}	
p {
	font-size:20px;
	}	
}


	
	



