/* styles.css */

/* For mobile phones: */

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size:28px;
	}

h2 {
	font-size:18px;
	}

p {
	font-size:14px;
	color:black;
	text-align:justify;word-spacing:0.5px;}

footer {
	clear: both;
	margin-top: 10px;
	background-color: #cccccc;
	text-align: center;
}

[class*="col-"] {
    width: 100%;
}

#banner h1 {
	text-align:center;
	}

#slide {
	max-height:670px;
	width:100%;}








/*-------------------------------------------------------------------------------------------- Login Page ------------------------------------------------------------------------ */


.login{ margin:4%;position: relative;left: 27%; align-content:center; padding:4%; border:1px solid #B39019;

color:black; border-radius:4px; width: 35%;}
.login label {
    width: 5em;
    float: left;

     padding:0.2%;
    padding-right: 0.5em;


}

.button_login {
  display: inline-block;
  border-radius: 4px;
  background-color: #07D14A;
  border: none;
	position: relative;
	left: 2%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button_login:hover {
  display: inline-block;
  border-radius: 4px;
  background-color: #1C8F42;
  border: none;
	position: relative;
	left: 2%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button_login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_login:hover span {
  padding-right: 25px;

}

.button_login:hover span:after {
  opacity: 1;
  right: 0;
}
.signupnotice a {text-decoration: none;color: black;position: relative; left: 18%;}
.signupnotice a:hover {text-decoration: none;color: #B39019;position: relative; left: 18%;}


/*-------------------------------------------------------------------------------------------- Signup Page ------------------------------------------------------------------------ */


.member {margin:4%;position: relative;left: 22%; align-content:center; padding:4%; border:1px solid #B39019;

color:black; border-radius:4px; width: 50%;}


.member label {
    width: 10em;
    float: left;
	padding:0.5%;

    padding-right: 0.5em;

}



.button_signup {
  display: inline-block;
  border-radius: 4px;
  background-color: #07D14A;
  border: none;
	position: relative;
	left: 10%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button_signup:hover {
  display: inline-block;
  border-radius: 4px;
  background-color: #1C8F42;
  border: none;
	position: relative;
	left: 10%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 7em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button_signup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_signup span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_signup:hover span {
  padding-right: 25px;

}

.button_signup:hover span:after {
  opacity: 1;
  right: 0;
}



/*-------------------------------------------------------------------------------------------- Memberdetails Page ------------------------------------------------------------------------ */

.member_details { margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.member_details label{
    width: 10em;
    float: left;
	padding:1%;
    padding-right: 0.5em;
	}
#member_details p { color:#8E8E8E;word-spacing:0.5px;}

/*-------------------------------------------------------------------------------------------- editMember Page ---------------------------------------------------------------------------- */


.edit_member{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}

.member_table td{padding:2%;}


/*-------------------------------------------------------------------------------------------- Sucess Page :------------------------------------------------------------------------------- */
.sucess{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.sucess p{color:#8E8E8E; text-align:justify;word-spacing:0.5px;}


/*-------------------------------------------------------------------------------------------- member_process :---------------------------------------------------------------------------- */
.member_process{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
.member_process p{color:#8E8E8E;text-align:justify;word-spacing:0.5px;}

/*-------------------------------------------------------------------------------------------- submit_button :---------------------------------------------------------------------------- */
submit{ background-color:transparent; color:#8E8E8E; background: rgba(0, 0, 0, 0.6); border-radius:9px;}


/*-------------------------------------------------------------------------------------------- header :---------------------------------------------------------------------------- */
#banner{align-content:center;color:#000000;
	background-color:#E8E1E1;
widows:auto; background-size:cover;padding:1%; width:auto;}









/*------------------------------------------------------
				Footer

-------------------------------------------------- */


.footer-distributed{
	background-color:#E8E1E1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font:16px;
	padding: 55px 50px;
	margin-top: 80px;
	border-top: 2px solid black;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:black; /* U N I Q U E Logo */
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
}

/* Footer links */

.footer-distributed .footer-links{
	color:black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #E8E1E1;
	color: black;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  black;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #E8E1E1;
	border-radius: 2px;

	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



/*-------------------------------
		NAVBAR
------------------------------*/
.navbar{display: :inline-block;}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



















.search_results{ margin:4%; align-content:center; padding:1%; border:5px solid black; background-color:transparent; color:#F1E9E9; background: rgba(0, 0, 0, 0.6); border-radius:9px;}
#search_table th{padding:3%; margin:5%;width:15em;font-size:24px;alignment-adjust:central;}
#search_table td{padding:3%; margin:5%; border:2px solid black; resize:both;}










/* For tablets: */
@media only screen and (min-width:600px){


h1 {
	font-size:32px;
	}
h2 {
	font-size:24px;
	}
p {
	font-size:16px;
	}
	}

/* For desktop: */
@media only screen and (min-width: 768px) {

h1 {
	font-size:42px;
	}
h2 {
	font-size:30px;
	}
p {
	font-size:20px;
	}
}
