
/*------------------------------------------

		Test Page

-------------------------------------------- */


@media screen and (min-width: 601px) {
form p{font-size:1em; text-align: left; position: relative; width: 76%;}
		.options {
			text-align: left;
			line-height: 2em;
		}
			.col-md-8{border:1px solid black; padding: 3%; border-radius:1%; margin-top:2%; width: 100%;}


	.procedure-button{margin: auto;}


.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #4BD740;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 1%;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5%;
	position: relative;left: 35%;
  box-shadow: 0 5px #666;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.result_display{width: 100%;font-size: 1.2em; font-weight: 500;padding: 3%;margin-top:%;   background: rgb(0,0,0,0.1); /* Fallback color */
background: rgba(0, 0, 0, 0.1); color: white; border-bottom:2px solid black;/* Black background with 0.5 opacity */}

}

@media screen and (max-width: 600px) {
	.options {

			font-size:1em;
			text-align: left;
			line-height: 1em;

		}
		input , label {
				  position: relative;
				  left: 17%;
		}
	.col-md-8{border:2px solid black; padding: 3%; border-radius:3%;}


	form p{font-size:0.8em; text-align: left; position: relative;left: 10%;width: 76%;}
		.options {

			font-size:0.5em;
			text-align: left;
			line-height: 2em;

		}


	  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4BD740;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 2%;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5%;
  position: relative;left: 30%;
  box-shadow: 0 5px #666;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


}
